doctype html
html(lang="en")
	head
		title Chinese Character Decomposition
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/cover.css')
		link(rel='stylesheet', href='/stylesheets/d3.css')
	body
		div(class='site-wrapper')
			div(class='site-wrapper-inner')
				div(class='cover-container')
					div(class='masthead clearfix', style='position: fixed;')
						div(class='inner')
							a(href='/')
								h2(class='masthead-brand') Decomposer
							nav
								ul(class='nav masthead-nav')
									li: a(href='/') Home
									li: a(href='/about') About
									li(class='active'): a(href='/contact') Contact & References
					div(class='inner cover')
							h1(class='cover-heading', style='padding: 0px 0px 20px 0px') Contact & References
							p Author: Kaitlyn Spehr - kaitlynspehr@gmail.com
							p This website was made with <a href="http://www.hanzijs.com/">HanziJS</a>
							p The decomposition graphs on this website are based off of the design <a href="http://bl.ocks.org/d3noob/8326869">here</a> using d3.
					div(class='mastfoot', class='col-md-12', style='position: fixed;')
						div(class='inner')
							p Created by Kaitlyn Spehr for Chinese 4803 at Ohio State.